<div class="panel-group" ng-model="activePanel" bs-collapse>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a bs-collapse-toggle>
                    {{ personalizationPanelTitle }}
                </a>
            </h4>
        </div>
        <div class="panel-collapse" bs-collapse-target>
            <div class="panel-body">
                <form class="form-signin" name="form">
                    <h2 class="form-signin-heading">{{formData.userName}}</h2>

                    <div class="form-group">
                        <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="formData.firstName">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="formData.lastName">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="sex" placeholder="Gender" ng-model="formData.sex">
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.birthDate.$invalid}">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <label class="control-label">Birth Date</label> 
                        <input type="text" class="form-control" ng-model="formData.birthDate" data-date-format="yyyy-MM-dd" name="birthDate" data-autoclose="1" bs-datepicker>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="country" placeholder="Country" ng-model="formData.country">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="city" placeholder="City" ng-model="formData.city">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="update()">Update</button>
                </form>
                <div ng-hide="updateStatus == ''" ng-class="(updateSuccess) ? 'alert alert-success' : 'alert alert-danger'">
                    {{updateStatus}}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a bs-collapse-toggle>
                    {{ securityPanel.title }}
                </a>
            </h4>
        </div>
        <div class="panel-collapse" bs-collapse-target>
            <div class="panel-body">
                <form class="form-signin" name="form" ng-hide="success">
                    <h2 class="form-signin-heading">Change Password</h2>
                    <div class="form-group" ng-class="{ 'has-error': form.oldPassword.$invalid && (form.oldPassword.$dirty || submitted) }">
                        <input type="password" class="form-control" name="oldPassword" placeholder="Old Password" ng-model="securityFormData.oldPassword" required>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && (form.password.$dirty || submitted) }">
                        <input type="password" class="form-control" name="password" placeholder="New Password" ng-model="securityFormData.password" required>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.confirmPassword.$invalid && (form.confirmPassword.$dirty || submitted) }">
                        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" ng-model="securityFormData.confirmPassword" required>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="changePassword()">Change</button>
                    <div ng-hide="changePasswordStatusMessage == ''" ng-class="(changePasswordSuccess) ? 'alert alert-success' : 'alert alert-danger'">
                        {{changePasswordStatusMessage}}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr />

<button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="deleteUserModal">
    Delete user
</button>
