<div class="panel-group" ng-model="activePanel" bs-collapse>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a bs-collapse-toggle>
                    {{ personalizationPanel.title }}
                </a>
            </h4>
        </div>
        <div class="panel-collapse" bs-collapse-target>
            <div class="panel-body">
                <form class="form-signin" name="form">
                    <h2 class="form-signin-heading">{{formData.userName}}</h2>

                    <div class="form-group">
                        <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="formData.firstName">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="lastName" placeholder="Last Name" ng-model="formData.lastName" required>
                    </div>
                    <div class="form-group col-xs-6">
                        <input type="text" class="form-control" ng-model="formData.birthDate" placeholder="birthDate" bs-datepicker>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="country" placeholder="Country" ng-model="formData.country">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="city" placeholder="City" ng-model="formData.city">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signUp()">Update</button>
                    <div ng-hide="message == ''" ng-class="(success) ? 'alert alert-success' : 'alert alert-danger'">
                        {{message}}
                    </div>
                </form>
                <div ng-hide="!success" class="alert alert-success">
                    {{confirmationMessage}}
                </div>
                {{ personalizationPanel.body }}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a bs-collapse-toggle>
                    {{ securityPanel.title }}
                </a>
            </h4>
        </div>
        <div class="panel-collapse" bs-collapse-target>
            <div class="panel-body">
                {{ securityPanel.body }}
            </div>
        </div>
    </div>

    <hr />

<button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="deleteUserModal">
    Delete user
</button>
