﻿<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <form class="form-horizontal">
        
        <!--<div data-ng-show="totalRecordsCount > 0">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" data-ng-model="filterValue" class="form-control" placeholder="Filter Places by (Place Name) or (Category)" />
                </div>
            </div>
            <br />
            <div infinite-scroll="myPagingFunction()" infinite-scroll-disabled='busy' infinite-scroll-distance="0">
                <ul class="list-group" data-ng-repeat="item in filteredPlaces">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img data-ng-src="{{buildCategoryIcon(item.venue.categories[0].icon)}}"
                                     title="{{item.venue.categories[0].shortName}}" class="venueIcon" />
                            </div>
                            <div class="col-xs-6 col-md-8">
                                <a href="" data-ng-click="showVenuePhotos(item.venue.id,item.venue.name)">
                                    <h2 class="venueName">{{item.venue.name}}</h2>
                                </a>
                            </div>
                            <div class="col-xs-4 col-md-3">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <span class="badge">{{item.venue.rating | number:1}}</span>
                            </div>
                            <div class="col-xs-6 col-md-8">
                                <p class="text-warning">
                                    <small>{{(item.venue.location.address != null) && item.venue.location.address}} - {{item.venue.categories[0].shortName}}</small>
                                </p>
                                <p>{{item.tips[0].text}}</p>
                                <hr class="seperator" />
                                <a href="" data-ng-click="bookmarkPlace(item.venue)"><span class="glyphicon glyphicon-bookmark"></span>Bookmark Place</a>
                            </div>
                            <div class="col-xs-4 col-md-3">
                                <a href="" data-ng-click="showVenuePhotos(item.venue.id,item.venue.name)">
                                    <img data-ng-src="{{buildVenueThumbnail(item.venue.photos.groups[0])}}" class="img-thumbnail" />
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>-->
    </form>
</div>